<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }} » Cullen Schill</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/writing">Writing</a></li>
              <li><a href="/photos">Photos</a></li>
          </ul>
      </nav>
      <!-- Should this be the main? -->
      <main>

      {{ content }}

    </main><!-- /.container -->
      <footer>
          <p>Website by Cullen Schill</p>
      </footer>
      </body>
</html>
